@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800|Raleway')
/* Styling */
    html {
        background: white;
}
h1 {
    font-family: 'Coda Caption', sans-serif;
    color: #black;
    text-transform: uppercase;
}
p {
    color: white;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}