@import url('https://fonts.googleapis.com/css?family=Basic');
/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
.color-1 {
    background: red;
}
.color-2 {
    background: blue;
}
.color-3 {
    background: yellow;
}
.color-4 {
    background: purple;
}
.color-5 {
    background: pink;
}
/* Textures or Patterns*/
.pattern-1 {
    background: url("../img/pixel_weave.png");
}

/* Imagery */
.imagery-1 img{
    border: 0;
    box-shadow: 0 0 1px
}

/* Icons */
.icon-1 img {
    border: 0;
}

/* Navigation */

a:link,
a:visited {
      color: bisque;
    text-decoration: none;
}

a:hover {
    
}

a:focus {
}

a:active {
    border-bottom: 4px solid aquamarine;
}
/* Typography */
h1 {
    font-family: 'Basic', sans-serif;
}
h2 {
    font-family: 'Basic', sans-serif;
}
p {
    line-height: 1.5em;
}

