@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800');
@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800|Raleway');
@import url('https://fonts.googleapis.com/css?family=Basic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
.color-1 {
    background: #ff0080;
}
.color-2 {
    background: #f6e0e2;
}
.color-3 {
    background: #dcc3e0;
}
.color-4 {
    background: #aac9ce;
}
.color-5 {
    background: #000000;
}
/* Textures or Patterns*/
.pattern-1 {
    background: url("../img/pixel_weave.png");
}
.pattern-2 {
    background: url("../img/cream_pixels.png");
}
.pattern-3 {
    background: url("../img/wavegrid.png");
}
.pattern-4 {
    background: url("../img/green-fibers.png");
}
.pattern-5 {
    background: url("../img/blackorchid.png");
}
/* Imagery */
.imagery-1 img{
    border: 0;
    box-shadow: 0 0 0px
}

/* Icons */
.icon-1 img {
    border: 0;
}

/* Navigation */

a:link,
a:visited {
      color: #dcc3e0;
    text-decoration: none;
}

a:hover {
    
}

a:focus {
}

a:active {
    border-bottom: none;
}
/* Typography */
h1 {
    font-family: 'Coda Caption', sans-serif;
    color: #ff0080;
    text-transform: uppercase;
}
h2 {
    font-family: 'Raleway', sans-serif;
}
h3 {
    font-family: 'Open Sans Condensed', sans-serif;
}
p {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5em;
}

